body {
    margin: 0;
    text-align: center;
}

h1 {
    font-size: xx-large;
}

#chat-area {
    justify-content: center;
    align-items: center;
}

#input, #confirm-btn, #clear-btn {
    width: 300px;
    border-radius: 5px;
    font-size: large;
}

#input {
    resize: none;
    height: 60px;
    margin-bottom: 10px;
    font-size: xx-large;
}

#confirm-btn, #clear-btn {
    height: 30px;
    display: block;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 10px;
}

ul {
    padding-left: 10px;
}

#output {
    text-align: center;
    align-items: center;
    font-size: xx-large;
}